<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
			<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
			<h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
	</header>
	<div>
		<table>
			<tr>
				<th>Initiative</th>
				<th>Damage Taken</th>
				<th>Max Damage Taken</th>
				<th>Stamina</th>
				<th>Max Stamina</th>
			</tr>
			<tr>
				<td>
					<input name="system.initiative" type="text" value="{{ this.actor.system.initiative }}" data-dtype="Number" />
				</td>
				<td>
					<input name="system.damageTaken.value" type="text" value="{{ this.actor.system.damageTaken.value }}" data-dtype="Number" />
				</td>
				<td>
					<input name="system.damageTaken.max" type="text" value="{{ this.actor.system.damageTaken.max }}" data-dtype="Number" />
				</td>
				<td>
					<input name="system.stamina.value" type="text" value="{{ this.actor.system.stamina.value }}" data-dtype="Number" />
				</td>
				<td>
					<input name="system.stamina.max" type="text" value="{{ this.actor.system.stamina.max }}" data-dtype="Number" />
				</td>
			</tr>
	</div>
</form>