<form class="{{cssClass}}" autocomplete="off">
    <header class="item-sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" class="itemname" type="text" title="{{item.name}}" value="{{item.name}}" placeholder="Name"/>
            {{#if showhelpers}}
              <i id="sb-itemsheet-helper-dropdown-name-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
            {{/if}}
            </h1>
            <h3 class="typelabel cItem">LOOKUP</h3>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item item-tab-button" data-tab="description">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Description'}}</a>
            <a class="item item-tab-button" data-tab="details">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Details'}}</a>            
        </nav>
    </div>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            {{editor
                enrichedBiography
                target="system.description"
                button=true
                editable=editable
            }}
        </div>

        {{!-- Details Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="details">
          {{!-- Item Sheet Helpers Menu Bar --}}
    {{#if showhelpers}}
      <div class="sb-item-helpers-menu-bar-div">
        <li class=" sb-menu-bar">
          <a id="sb-item-helpers-menu-bar-item-autogenerateall" title="Autogenerate All" class=" sb-menu-bar-button"><i class="fas fa-wand-magic-sparkles fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-validateall" title="Validate All" class=" sb-menu-bar-button"><i class="fas fa-spell-check fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-clearall" title="Clear All" class=" sb-menu-bar-button"><i class="fas fa-times-circle fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-show-sandbox-settings" style="float: right;" title="Sandbox Settings" class=" sb-menu-bar-button"><i class="fas fa-cog fa-fw"></i></a>
          
        </li>
    </div>
    {{/if}}
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Lookup Key</label>
                            <input type="text" name="system.lookupKey" title="{{item.system.lookupKey}}" value="{{item.system.lookupKey}}" data-dtype="String"/>
                            {{#if showhelpers}}
                              <i id="sb-itemsheet-helper-dropdown-key-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexblock">
                <div class="col-1-1">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-med">Lookup Table</label>
                            <textarea class="sb-textarea-lookup-table input-disabled" tabindex="-1" name="lookupTable">{{lookupTable}}</textarea >
                            {{#if showhelpers}}
                              <i id="sb-itemsheet-helper-dropdown-lookuptable-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                            {{/if}}
                        </div>
                    </div>
                  
                  
                  
                  
                  
                </div>
            </div>

                </div>



    </section>
</form>
