<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" class="itemname" type="text" title="{{item.name}}" value="{{item.name}}" placeholder="Name">
        {{#if showhelpers}}{{!--<if>--}} 
        <i id="sb-itemsheet-helper-dropdown-name-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
        {{/if}}{{!--</if>--}} 
      </h1>
      <h3 class="typelabel cItem">PROPERTY</h3>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <div class="atabs">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item item-tab-button" data-tab="description">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Description'}}</a>
      <a class="item item-tab-button" data-tab="details">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Details'}}</a>
    </nav>
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab biography active" data-group="primary" data-tab="description">
      {{editor
                enrichedBiography
                target="system.description"
                button=true
                editable=editable
      }}
    </div>
    {{!-- Item Sheet Helpers Menu Bar --}}
    {{#if showhelpers}}{{!--<if>--}} 
      <div class="sb-item-helpers-menu-bar-div">
        <li class=" sb-menu-bar">
          <a id="sb-item-helpers-menu-bar-item-autogenerateall" title="Autogenerate All" class=" sb-menu-bar-button"><i class="fas fa-wand-magic-sparkles fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-validateall" title="Validate All" class=" sb-menu-bar-button"><i class="fas fa-spell-check fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-clearall" title="Clear All" class=" sb-menu-bar-button"><i class="fas fa-times-circle fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-show-sandbox-settings" style="float: right;" title="Sandbox Settings" class=" sb-menu-bar-button"><i class="fas fa-cog fa-fw"></i></a>

        </li>
      </div>
    {{/if}}{{!--</if>--}} 
    {{!-- Details Tab --}}
    <div class="tab details  active" data-group="primary" data-tab="details">
      <div class="sb-item-details">
      <div class="flexblock">
        <div class="col-1-2">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Key</label>
              <input type="text"  class="sb-input-align-left" name="system.attKey" title="{{item.system.attKey}}" value="{{item.system.attKey}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
                <i id="sb-itemsheet-helper-dropdown-key-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Data Type</label>
              <select name="system.datatype"  data-type="String">
                {{#select item.system.datatype}}
                {{#each item.system.dtypes as |dtype key|}}
                <option  value="{{key}}">{{key}}</option> {{/each}} {{/select}}
              </select>
              {{#if showhelpers}}{{!--<if>--}} 
                <i id="sb-itemsheet-helper-dropdown-datatype-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>

          
          {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}            
            <div class="new-row">
              <div class="flexblock-left">
                <label class="label-medlarge">Hidden</label>
                <input class="check-ishidden" name="system.ishidden" id="check-ishidden" type="checkbox" {{checked item.system.ishidden}}/>
              </div>
            </div>            
          {{/ifNot}}{{!--</ifNot>--}}  
          
          
          {{#if item.system.ishidden}}{{!--<if>--}} 
          {{else}}
          {{#ifNot item.system.datatype "table"}}{{!--<ifNot>--}}
            <div class="new-row">
              <div class="flexblock-left">
                <label class="label-medlarge">Tag</label>
                <input type="text"  class="sb-input-align-left" name="system.tag" title="{{item.system.tag}}" value="{{item.system.tag}}"/>
                {{#if showhelpers}}{{!--<if>--}} 
                  <i id="sb-itemsheet-helper-dropdown-tag-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                {{/if}}{{!--</if>--}} 
              </div>
            </div>
            {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}
              <div class="new-row">
                <div class="flexblock-left">
                  <label class="label-medlarge">Rollable</label>
                  <input class="check-hasroll" name="system.hasroll" id="check-hasroll" type="checkbox" {{checked item.system.hasroll}}/>
                </div>
              </div>

              {{#ifCond item.system.datatype "radio"}}
              <div class="new-row">
                <div class="flexblock-left">
                  <label class="label-medlarge">Totalize</label>
                  <input class="check-totalize" name="system.totalize" id="check-totalize" type="checkbox" {{checked item.system.totalize}}/>
                </div>
              </div>
              {{/ifCond}}

              {{#ifCond item.system.datatype "simplenumeric"}}
                <div class="new-row">
                  <div class="flexblock-left">
                    <label class="label-medlarge">Totalize</label>
                    <input class="check-totalize" name="system.totalize" id="check-totalize" type="checkbox" {{checked item.system.totalize}}/>
                  </div>
                </div>
                <div class="new-row">
                  <div class="flexblock-left">
                    <label class="label-medlarge">Show Arrows</label>
                    <input class="check-arrows" name="system.arrows" id="check-arrows" type="checkbox" {{checked item.system.arrows}}/>
                  </div>
                </div>
              {{/ifCond}}
            {{/ifNot}}{{!--</ifNot>--}} 
          {{/ifNot}}{{!--</ifNot>--}} 
          {{#ifCond item.system.datatype "table"}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Group (drop here)</label>
              <input type="text" name="system.group.name" title="{{item.system.group.name}}" value="{{item.system.group.name}}" readonly>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Editable</label>
              <input class="check-editable" name="system.editable" id="check-editable" type="checkbox" {{checked item.system.editable}}/>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Has Header?</label>
              <input class="check-hasheader" name="system.hasheader" id="check-hasheader" type="checkbox" {{checked item.system.hasheader}}/>
            </div>
          </div>




          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Is Free?</label>
              <input class="check-isfreetable" name="system.isfreetable" id="check-isfreetable" type="checkbox" {{checked item.system.isfreetable}}/>
            </div>
          </div>

          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Transferrable</label>
              <input class="check-transferrable" name="system.transferrable" id="check-transferrable" type="checkbox" {{checked item.system.transferrable}}/>
            </div>
          </div>


          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Height</label>
              <select name="system.tableheight"  data-type="String">
                {{#select item.system.tableheight}}
                <option  value="F">FREE</option>
                <option  value="S">SMALL</option>
                <option  value="M">MED</option>
                <option  value="T">TALL</option>
                {{/select}}
              </select>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Item Names</label>
              <select name="system.onlynames"  data-type="String">
                {{#select item.system.onlynames}}
                <option  value="DEFAULT">YES</option>
                <option  value="NO_NAMES">NO</option>
                <option  value="ONLY_NAMES">ONLY NAMES</option>
                {{/select}}
              </select>
            </div>
          </div>
          



          
          {{/ifCond}}

          {{/if}}{{!--</if>--}} 
        </div>
        <div class="col-1-2">

          {{#ifNot item.system.datatype "table"}}{{!--<ifNot>--}}
          {{#ifNot item.system.datatype "label"}}{{!--<ifNot>--}}
          {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}
          <div class="new-row">

            <div class="flexblock-left">
              <label class="label-medlarge">Default Value</label>
              <input type="text" class="sb-input-align-left" name="system.defvalue" title="{{item.system.defvalue}}" value="{{item.system.defvalue}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-default-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          {{/ifNot}}{{!--</ifNot>--}} 
          {{#if item.system.ishidden}}{{!--<if>--}} 
          {{else}}
          {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Editable</label>
              <input class="check-editable" name="system.editable" id="check-editable" type="checkbox" {{checked item.system.editable}}/>
            </div>
          </div>
          {{/ifNot}}{{!--</ifNot>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Has Label?</label>
              <input class="check-haslabel" name="system.haslabel" id="check-haslabel" type="checkbox" {{checked item.system.haslabel}}/>
            </div>
          </div>
          {{/if}}{{!--</if>--}} 

          {{/ifNot}}{{!--</ifNot>--}} 

          {{#if item.system.ishidden}}{{!--<if>--}} 
          {{else}}
          {{#if item.system.haslabel}}{{!--<if>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Label size</label>
              <select  name="system.labelsize"  data-type="String">
                {{#select item.system.labelsize}}
                <option  value="F">Fit</option>
                <option  value="S">Small</option>
                <option  value="T">Tiny</option>
                <option  value="M">Medium</option>
                <option  value="L">Large</option>
                {{/select}}
              </select>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Label Format</label>
              <select  name="system.labelformat"  data-type="String">
                {{#select item.system.labelformat}}
                <option  value="N">Normal</option>
                <option  value="B">Bold</option>
                <option  value="S">Small</option>
                <option  value="D">Die</option>
                <option  value="I">Icon</option>
                {{/select}}
              </select>
              {{#ifCond item.system.labelformat "I"}}
              {{#if showiconselector}}{{!--<if>--}} 
              <input type="hidden" name="system.icon" value="{{item.system.icon}}" ><div id="property-icon" class="sb-icon-displayframe" title="Open Icon Picker"><i  class="sb-icon-displayicon fa-solid {{item.system.icon}}"></i></div>
              {{/if}}{{!--</if>--}} 
              {{/ifCond}}
            </div>
          </div>

          {{/if}}{{!--</if>--}} 
          {{/if}}{{!--</if>--}} 
          {{/ifNot}}{{!--</ifNot>--}} 

          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge" title="Adds this class to the label's HTML style for ease of edition" >Font Group</label>
              <input type="text" class="sb-input-align-left" name="system.fontgroup" title="{{item.system.fontgroup}}" value="{{item.system.fontgroup}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-fontgroup-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge" title="Adds this class to the input's HTML style for ease of edition" >Input Group</label>
              <input type="text" class="sb-input-align-left" name="system.inputgroup" title="{{item.system.inputgroup}}" value="{{item.system.inputgroup}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-inputgroup-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>

          {{#ifCond item.system.datatype "table"}}
          {{#if item.system.hasheader}}{{!--<if>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Column Name Label</label>
              {{#if item.system.namecolumn}}{{!--<if>--}} 
              <input type="text" class="sb-input-align-left" name="system.namecolumn" title="{{item.system.namecolumn}}" value="{{item.system.namecolumn}}"/>
              {{else}}
              <input type="text" class="sb-input-align-left" name="system.namecolumn" value="Item"/>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Column Active label</label>
              {{#if item.system.tableoptions.columnheaderlabels.active}}{{!--<if>--}} 
              <input type="text" class="sb-input-align-left" name="system.tableoptions.columnheaderlabels.active" title="{{item.system.tableoptions.columnheaderlabels.active}}" value="{{item.system.tableoptions.columnheaderlabels.active}}"/>
              {{else}}
              <input type="text" class="sb-input-align-left" name="system.tableoptions.columnheaderlabels.active" value="Active"/>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Column Num label</label>
              {{#if item.system.tableoptions.columnheaderlabels.num}}{{!--<if>--}} 
              <input type="text"  class="sb-input-align-left" name="system.tableoptions.columnheaderlabels.num" title="{{item.system.tableoptions.columnheaderlabels.num}}" value="{{item.system.tableoptions.columnheaderlabels.num}}"/>
              {{else}}
              <input type="text"  class="sb-input-align-left" name="system.tableoptions.columnheaderlabels.num" value="Num"/>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Column Uses label</label>
              {{#if item.system.tableoptions.columnheaderlabels.uses}}{{!--<if>--}} 
              <input type="text"  class="sb-input-align-left" name="system.tableoptions.columnheaderlabels.uses" title="{{item.system.tableoptions.columnheaderlabels.uses}}" value="{{item.system.tableoptions.columnheaderlabels.uses}}"/>
              {{else}}
              <input type="text"  class="sb-input-align-left" name="system.tableoptions.columnheaderlabels.uses" value="Uses"/>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          {{/if}}{{!--</if>--}} 
          {{/ifCond}}


          {{#ifCond item.system.datatype "simpletext"}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Input Size</label>
              <select  name="system.inputsize"  data-type="String">
                {{#select item.system.inputsize}}
                <option  value="F">Fit</option>
                <option  value="T">Tiny</option>
                <option  value="S">Small</option>
                <option  value="M">Medium</option>
                <option  value="L">Large</option>
                {{/select}}
              </select>
            </div>
          </div>
          {{/ifCond}}
          {{#ifCond item.system.datatype "simplenumeric"}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Input Size</label>
              <select  name="system.inputsize"  data-type="String">
                {{#select item.system.inputsize}}
                <option  value="T">Tiny</option>
                <option  value="S">Small</option>
                <option  value="M">Medium</option>
                <option  value="F">Fit</option>
                {{/select}}
              </select>
            </div>
          </div>
          {{/ifCond}}
          {{#ifCond item.system.datatype "textarea"}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Input Size</label>
              <select  name="system.inputsize"  data-type="String">
                {{#select item.system.inputsize}}
                <option  value="F">Fit</option>
                <option  value="S">Small</option>
                <option  value="M">Medium</option>
                <option  value="L">Large</option>
                {{/select}}
              </select>
            </div>
          </div>
          {{/ifCond}}

          {{#ifCond item.system.datatype "list"}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Input Size</label>
              <select  name="system.inputsize"  data-type="String">
                {{#select item.system.inputsize}}
                <option  value="F">Fit</option>
                <option  value="T">Tiny</option>
                <option  value="S">Small</option>
                <option  value="M">Medium</option>
                <option  value="L">Large</option>
                {{/select}}
              </select>
            </div>
          </div>
          {{/ifCond}}
        </div>

      </div>
     
      {{!-- Table show options --}}
      {{#ifCond item.system.datatype "table"}}
      
      <div class="flexblock" style="padding:0px;">
        <div class="col-1-2">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Show Icons?</label>
              <input class="check-showicons" name="system.tableoptions.showicons" id="check-showicons" type="checkbox" {{checked item.system.tableoptions.showicons}}/>
            </div>
          </div>
          {{#ifCond item.system.onlynames "ONLY_NAMES"}}
          {{else}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Show Units?</label>
              <input class="check-hasunits" name="system.hasunits" id="check-hasunits" type="checkbox" {{checked item.system.hasunits}}/>

            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Show Uses?</label>
              <input class="check-hasuses" name="system.hasuses" id="check-hasuses" type="checkbox" {{checked item.system.hasuses}}/>
            </div>
          </div> 
          {{/ifCond}}
        </div>
        <div class="col-1-2">
          {{#ifCond item.system.onlynames "ONLY_NAMES"}}
          {{else}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlargeplus">Show Properties?</label>
              <input class="check-showicons" name="system.tableoptions.showGroupProperties" id="check-showGroupProperties" type="checkbox" {{checked item.system.tableoptions.showGroupProperties}}/>
            </div>
          </div>
          
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlargeplus" >Show Activation?</label>
              <input class="check-hasactivation" name="system.hasactivation" id="check-hasactivation" type="checkbox" {{checked item.system.hasactivation}}/>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlargeplus">Show Totals?</label>
              <input class="check-hastotals" name="system.hastotals" id="check-hastotals" type="checkbox" {{checked item.system.hastotals}}/>
            </div>
          </div>
          {{/ifCond}}
        </div>
      </div>
      
      {{/ifCond}}
      
      {{!-- Table filter, hidden by false if --}}
      {{#if true}}{{!--<if>--}} 
      {{#ifCond item.system.datatype "table"}}
      <div class="flexblock">
        <div class="col-1-1">
          {{#if item.system.tableoptions.showGroupProperties}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Property Hide List</label>
              <input type="text"  class="sb-input-align-left"  name="system.tableoptions.groupPropertiesToHide" title="{{item.system.tableoptions.groupPropertiesToHide}}" value="{{item.system.tableoptions.groupPropertiesToHide}}"/>              
            </div>
          </div>
          {{/if}}
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Table Filter</label>
              <textarea class="sb-textarea-table-filter input-disabled" tabindex="-1" name="system.tableoptions.filter">{{item.system.tableoptions.filter}}</textarea >
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-tablefilter-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
        </div>
      </div>
      {{/ifCond}}
      {{/if}}{{!--</if>--}} 

      {{#if item.system.haslabel}}
      <div class="flexblock">
        <div class="col-1-1">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Tooltip</label>
              <textarea name="system.tooltip" >{{item.system.tooltip}}</textarea >
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-tooltip-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>

        </div>
      </div>
      {{/if}}{{!--</if>--}} 

      {{#if item.system.hasroll}}{{!--<if>--}} 
      {{#ifNot item.system.datatype "table"}}{{!--<ifNot>--}}
      {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}
      <div class="flexblock">
        <div class="col-1-1">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Roll Name</label>
              <input type="text"  class="sb-input-align-left" name="system.rollname" title="{{item.system.rollname}}" value="{{item.system.rollname}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-rollname-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
              <label class="label-medlarge">Roll ID</label>
              <input type="text"  class="sb-input-align-left" name="system.rollid" title="{{item.system.rollid}}" value="{{item.system.rollid}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-rollid-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Has Dialog</label>
              <input class="check-hasdialog" name="system.hasdialog" id="check-hasdialog" type="checkbox" {{checked item.system.hasdialog}}/>
              <label class="label-medlarge">Dialog Panel (Drag Here)</label>
              <input type="text"  class="sb-input-align-left" name="system.dialogName" title="{{item.system.dialogName}}" value="{{item.system.dialogName}}" readonly>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Roll Formula</label>
              <input type="text"  class="sb-input-align-left" name="system.rollexp" title="{{item.system.rollexp}}" value="{{item.system.rollexp}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-rollexp-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
        </div>
      </div>
      {{/ifNot}}{{!--</ifNot>--}} 
      {{/ifNot}}{{!--</ifNot>--}} 
      {{/if}}{{!--</if>--}} 

      {{#ifNot item.system.datatype "table"}}{{!--<ifNot>--}}
      {{#ifNot item.system.datatype "textarea"}}{{!--<ifNot>--}}
      {{#ifNot item.system.datatype "list"}}{{!--<ifNot>--}}
      {{#ifNot item.system.datatype "label"}}{{!--<ifNot>--}}


      <div class="flexblock">
        {{#ifNot item.system.datatype "simpletext"}}{{!--<ifNot>--}}
        {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}
        {{#ifNot item.system.datatype "checkbox"}}{{!--<ifNot>--}}
        <div class="col-1-2">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Max Value</label>
              <input type="text"  class="sb-input-align-left" name="system.automax" title="{{item.system.automax}}" value="{{item.system.automax}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-automax-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
        </div>
        <div class="col-1-4">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-small righttext">Visible</label>
              <input class="check-maxvisible" name="system.maxvisible" id="check-maxvisible" type="checkbox" {{checked item.system.maxvisible}}/>
            </div>
          </div>
        </div>
        <div class="col-1-4">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-small righttext">Top</label>
              <input class="check-maxtop" name="system.maxtop" id="check-maxtop" type="checkbox" {{checked item.system.maxtop}}/>
            </div>
          </div>
        </div>
        {{/ifNot}}{{!--</ifNot>--}} 
        {{/ifNot}}{{!--</ifNot>--}} 
        {{/ifNot}}{{!--</ifNot>--}} 
      </div>
      {{#ifNot item.system.datatype "button"}}{{!--<ifNot>--}}
      <div class="col-1-1">
        <div class="new-row">
          <div class="flexblock-left">
            <label class="label-medlarge">Auto</label>
            <input type="text"  class="sb-input-align-left" name="system.auto" title="{{item.system.auto}}" value="{{item.system.auto}}"/>
            {{#if showhelpers}}{{!--<if>--}} 
            <i id="sb-itemsheet-helper-dropdown-auto-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
            {{/if}}{{!--</if>--}} 
          </div>
        </div>
      </div>
      {{/ifNot}}{{!--</ifNot>--}} 



      {{/ifNot}}{{!--</ifNot>--}} 
      {{/ifNot}}{{!--</ifNot>--}} 
      {{/ifNot}}{{!--</ifNot>--}} 
      {{/ifNot}}{{!--</ifNot>--}} 


      {{#ifCond item.system.datatype "list"}}
      <div class="flexblock">
        <div class="col-1-1">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Options (a,b,c)</label>
              <input type="text"  class="sb-input-align-left"  name="system.listoptions" title="{{item.system.listoptions}}" value="{{item.system.listoptions}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-list-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Add options from Auto</label>
              <input class="check-listoptionsAutoUse" name="system.listoptionsAutoUse" id="check-listoptionsAutoUse" type="checkbox" {{checked item.system.listoptionsAutoUse}}/>
            </div>
          </div>
          {{#if item.system.listoptionsAutoUse}}{{!--<if>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Options Auto</label>  
              <input type="text"  class="sb-input-align-left"  name="system.listoptionsAuto" title="{{item.system.listoptionsAuto}}" value="{{item.system.listoptionsAuto}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-listauto-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          {{/if}}{{!--</if>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Add options from Lookup</label>
              <input class="check-listoptionsLookupUse" name="system.listoptionsLookupUse" id="check-listoptionsLookupUse" type="checkbox" {{checked item.system.listoptionsLookupUse}}/>
            </div>
          </div>
          {{#if item.system.listoptionsLookupUse}}{{!--<if>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Options Lookup</label>                            
              <select id="check-listoptionsLookupKey" name="system.listoptionsLookupKey"  data-type="String">                              
                {{#select item.system.listoptionsLookupKey}}
                {{#eachProperty lookupOptions}}
                <option  value="{{value.value}}">{{value.name}}</option>
                {{/eachProperty }}                                                                
                {{/select}}
              </select>                            
              <label class="label-medlarge">Lookup Column</label>                            
              <select id="check-listoptionsLookupColumn" name="system.listoptionsLookupColumn"  data-type="String">                              
                {{#select item.system.listoptionsLookupColumn}}
                {{#eachProperty lookupOptionsColumns}}
                <option  value="{{value.value}}">{{value.name}}</option>
                {{/eachProperty }}                                                                
                {{/select}}
              </select>
            </div>

          </div>
          {{/if}}{{!--</if>--}} 
        </div>
      </div>
      {{/ifCond}}

      {{#ifCond item.system.datatype "button"}}
      <div class="flexblock">
        <div class="col-1-1">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Choose a macro</label>
              <select  class="macroselector" title="system.macroid" name="system.macroid"  data-type="String">
              </select>
            </div>
          </div>
        </div>
      </div>
      {{/ifCond}}

      {{#ifCond item.system.datatype "checkbox"}}
      <div class="flexblock">
        <div class="col-1-1">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Check Group</label>
              <input type="text"  class="sb-input-align-left" name="system.checkgroup" title="{{item.system.checkgroup}}" value="{{item.system.checkgroup}}"/>
              {{#if showhelpers}}{{!--<if>--}} 
              <i id="sb-itemsheet-helper-dropdown-checkgroup-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
              {{/if}}{{!--</if>--}} 
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Custom Image</label>
              <input class="check-customcheck" name="system.customcheck" id="check-customcheck" type="checkbox" {{checked item.system.customcheck}}/>
            </div>
          </div>
          {{#if item.system.customcheck}}{{!--<if>--}} 
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Checked Path</label>
              <input class="input-medlarge"  class="sb-input-align-left" type="text" name="system.onPath" title="{{item.system.onPath}}" value="{{item.system.onPath}}"/>
              <a class="checkonPath" title="Browse Image"><i class="fas fa-file-upload fa-2x"></i></a>
            </div>
          </div>
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Unchecked Path</label>
              <input class="input-medlarge"  class="sb-input-align-left" type="text" name="system.offPath" title="{{item.system.offPath}}" value="{{item.system.offPath}}"/>
              <a class="checkoffPath" title="Browse Image"><i class="fas fa-file-upload fa-2x"></i></a>
            </div>
          </div>
          {{/if}}{{!--</if>--}} 
        </div>
      </div>
      {{/ifCond}}

      {{#ifCond item.system.datatype "radio"}}
      <div class="flexblock">
        <div class="col-1-2">
          <div class="new-row">
            <div class="flexblock-left">
              <label class="label-medlarge">Radio icon</label>

              {{#if showradiotypeselector}}{{!--<if>--}} 
              <input type="hidden" name="system.radiotype" value="{{item.system.radiotype}}" ><div id="property-radiotype" title="Open Icon Picker" class="sb-icon-displayframe-double"><i  class="sb-icon-displayicon fa-solid {{item.system.radiotype}}"></i><i class="sb-icon-displayicon sb-icon-displayicon-left-margin fa-regular {{item.system.radiotype}}"></i></div>
              {{else}}
              <select  name="system.radiotype"  data-type="String">
                {{#select item.system.radiotype}}
                <option  value="C">Circle</option>
                <option  value="S">Square</option>
                {{/select}}
              </select>
              {{/if}}{{!--</if>--}} 
            </div>
            <div class="flexblock-left">
              <label class="label-medlarge">Reset icon</label>
              {{#if showiconselector}}{{!--<if>--}} 
              <input type="hidden" name="system.radioResetIcon" value="{{item.system.radioResetIcon}}" ><div id="property-radioreseticon" class="sb-icon-displayframe" title="Open Icon Picker"><i  class="sb-icon-displayicon far {{item.system.radioResetIcon}}"></i></div>
              {{/if}}{{!--</if>--}} 
            </div>    
          </div>
        </div>
      </div>
      {{/ifCond}}

      </div>
    </div>
  </section>
</form>