<form class="{{cssClass}}" autocomplete="off">
    <header class="item-sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" class="itemname" type="text" title="{{item.name}}" value="{{item.name}}" placeholder="Name"/>
            {{#if showhelpers}}
              <i id="sb-itemsheet-helper-dropdown-name-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
            {{/if}}
            </h1>
            <h3 class="typelabel cItem">TAB</h3>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item item-tab-button" data-tab="description">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Description'}}</a>
            <a class="item item-tab-button" data-tab="details">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Details'}}</a>
            <a class="item item-tab-button" data-tab="properties">{{localize 'SANDBOX.ItemSheet.Labels.Tab.Panels'}}</a>
        </nav>
    </div>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="description">
            {{editor
                enrichedBiography
                target="system.description"
                button=true
                editable=editable
            }}
        </div>

        {{!-- Details Tab --}}
        <div class="tab biography active" data-group="primary" data-tab="details">
          {{!-- Item Sheet Helpers Menu Bar --}}
    {{#if showhelpers}}
      <div class="sb-item-helpers-menu-bar-div">
        <li class=" sb-menu-bar">
          <a id="sb-item-helpers-menu-bar-item-autogenerateall" title="Autogenerate All" class=" sb-menu-bar-button"><i class="fas fa-wand-magic-sparkles fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-validateall" title="Validate All" class=" sb-menu-bar-button"><i class="fas fa-spell-check fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-clearall" title="Clear All" class=" sb-menu-bar-button"><i class="fas fa-times-circle fa-fw"></i></a>
          <a id="sb-item-helpers-menu-bar-item-show-sandbox-settings" style="float: right;" title="Sandbox Settings" class=" sb-menu-bar-button"><i class="fas fa-cog fa-fw"></i></a>
          
        </li>
    </div>
    {{/if}}
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Tab Key</label>
                            <input type="text" class="sb-input-align-left" name="system.tabKey" title="{{item.system.tabKey}}" value="{{item.system.tabKey}}" data-dtype="String"/>
                            {{#if showhelpers}}
                              <i id="sb-itemsheet-helper-dropdown-key-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                            {{/if}}
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Title</label>
                            <input type="text" class="sb-input-align-left" name="system.title" title="{{item.system.title}}" value="{{item.system.title}}" data-dtype="String"/>
                            {{#if showhelpers}}
                              <i id="sb-itemsheet-helper-dropdown-tag-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Control</label>
                            <select name="system.controlby"  data-type="String">
                                {{#select item.system.controlby}}
                                {{#each item.system.bytypes as |bytype key|}}
                                <option  value="{{key}}">{{key}}</option> {{/each}} {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexblock">
                <div class="col-1-1">
                    <div class="flexblock-left">
                        <div class="col-1-6 sb-item-sheet-condition-div">
                            VISIBLE IF
                        </div>
                        <div class="col-1-3 sb-item-sheet-condition-div">
                            <input class="sb-item-sheet-input-condition sb-input-align-left" type="text" name="system.condat" title="{{item.system.condat}}" value="{{item.system.condat}}" placeholder="ATTRIBUTE KEY"/>
                            {{#if showhelpers}}
                              <i id="sb-itemsheet-helper-dropdown-visibleif-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                            {{/if}}
                        </div>
                        <div class="col-1-6 sb-item-sheet-condition-div">
                            <select  name="system.condop"  data-type="String">
                                {{#select item.system.condop}}
                                <option  value="NON">NONE</option>
                                <option  value="EQU">=</option>
                                <option  value="HIH">&gt;</option>
                                <option  value="LOW">&lt;</option>
                                <option  value="NOT">NOT</option>
                                {{/select}}
                            </select>

                        </div>
                        <div class="col-1-3 sb-item-sheet-condition-div">
                            <input class="sb-item-sheet-input-condition sb-input-align-left" type="text" name="system.condvalue" title="{{item.system.condvalue}}" value="{{item.system.condvalue}}" placeholder="VALUE"/>
                            {{#if showhelpers}}
                              <i id="sb-itemsheet-helper-dropdown-visiblevalue-{{item.id}}" class="sb-itemsheet-helper-dropdown fa-solid fa-square-caret-down"></i>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Panels Tab --}}
        <div class="tab properties scrollable" data-group="primary" data-tab="properties">
            <ol class="properties-list">
                {{#each item.system.panels as |panel id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <img class="sb-item-list-icon" src="{{{sb_item_icon panel.id}}}"/>
                    <label class="property-name sb-sub-item-label">{{panel.name}}</label>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </section>
</form>
