<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" class="entityname" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev"><i class="leftarrow"></i></a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="0">
            <a class="item tab-button player-tab desc-tab" data-tab="description" id="tab-0">Bio</a>          
            <a style="display: none" id="tab-last"></a>
            <a class="item tab-button player-tab desc-tab" data-tab="stats" id="tab-0">Stats</a>
        </nav>
        <a class="tab-next" id="tab-next"><i class="rightarrow"></i></a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">                        
            {{editor
                enrichedBiography
                target="system.biography"
                button=true
                editable=editable
            }}
            
        </div>
        {{!-- Stats Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="stats">                        
                <input name="data.initiative.value" type="number" value="{{systemData.initiative.value}}" placeholder=0 />
        </div>
        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list" id="citems-tab">
                {{#each actor.system.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                  <img class="sb-citem-table-icon" src="{{{sb_item_icon citem.id}}}"/>
                    <label class="property-name sb-null  sb-sub-item-label">{{citem.name}}</label>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>                        
                        <a class="property-control citem-delete" citemid ="{{citem.id}}" ciKey ="{{citem.ciKey}}" title="Remove cItem"><i class="fas fa-trash"></i></a>
                        {{#ifNotEmpty citem.addedBy}}
                           <i title="Added automatically by {{cItemAddedBy citem.addedBy}}" class="fas fa-circle-info"></i>
                        {{/ifNotEmpty}}
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    </section>
</form>

