.gamefolderpicker .game-folder-picker-folder-list {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-dark-5);
    border-radius: 2px;
    max-height: 600px;
    overflow: hidden auto;
    scrollbar-width: thin;
}

  .gamefolderpicker .game-folder-picker-folder-list > li.game-folder-picker-form-folder {
        font-weight: bold;
  }
  .gamefolderpicker .game-folder-picker-folder-list > li:hover {
    text-shadow: 0 0 5px var(--color-shadow-primary);
}

  .gamefolderpicker .game-folder-picker-folder-list > li {
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        padding-left: 0.25em;
        word-break: break-all;
        overflow: hidden;
        border-bottom: 1px solid var(--color-border-dark-4);
  }
  
  .gamefolderpicker .game-folder-picker-folder-list > li:last-child {
    border-bottom: none;
}
  
  .gamefolderpicker .current-folder button {
        flex: 0 0 32px;
        margin: 0 5px 0 0;
        line-height: 24px;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid var(--color-border-dark-4);
        border-radius: 3px;
                      
  }
  .gamefolderpicker .current-folder-type{
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
  }
  .gamefolderpicker .game-folder-picker-greyedout{
    opacity:0.2;
  }
